@page "/companies"
@inject ICompanyService CompanyService
@inject NavigationManager NavigationManager


<h3>Companies</h3>
<small>Add as many Companies as you wish.</small>
<div class="form-group">
    <a class="btn btn-success" href="company/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
@if (companies == null)
{
    <text>Loading...</text>
}
else if (companies.Count == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@company.Description</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="nav-link" href="company/@company.Id">
                                <span class="oi oi-eye" aria-hidden="true">View</span>
                            </a>
                            <a class="nav-link" href="company/edit/@company.Id">
                                <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                            </a>
                            <a class="nav-link" href="" @onclick="(() => DeleteCompany(company.Id))">
                                <span class="oi oi-trash" aria-hidden="true">Delete</span>
                            </a>
                        </div>

                    </td>
                    @*<td>
                        <button class="btn btn-primary" @onclick="(() => ShowCompany(company.Id))">Show</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table> 
}

@code {

    List<ProjectManagementSystem.Shared.Company> companies = new List<ProjectManagementSystem.Shared.Company>();


    protected override async Task OnInitializedAsync()
    {
        companies = await CompanyService.GetCompanies();

    }

    void ShowCompany(int id)
    {
        NavigationManager.NavigateTo($"company/{id}");
    }

    async void DeleteCompany(int id)
    {
        await CompanyService.DeleteCompany(id);
        NavigationManager.NavigateTo($"companies", true);
    }

}